data/*/*.txt
data/*/processed_data.pkl
data/*/*
!data/*/all_templates_used.csv
data_aro_ali_diff/*/*.txt
data_aro_ali_diff/*/processed_data.pkl
data_aro_ali_diff/*/reaction.png
data_10perc/
data_25perc/
data_50perc/
data_75perc/
data_USPTO_MIT/
data_USPTO_50k_maziarz/
data_USPTO_50k_coley/*
!data_USPTO_50k_coley/USPTO_50k_coley.txt
!data_USPTO_50k_coley/original_data
!data_USPTO_50k_coley/README.md
data_USPTO_50k_noise/USPTO_50k_*perc_noise/
data_aro_ali_diff/
*.processed
*.failed
*.xlsx
job/
analyze_results.csv
cgr_teset.ipynb
difference.py
diff.txt
post_analysis_old.py
debug_test.ipynb
scripts/template_analysis.ipynb